.deck-slider-shell {

  background:
    linear-gradient(
      180deg,
      #181b1e 0%,
      #141619 100%
    );

  border-radius: 18px;

  border:
    1px solid rgba(255,255,255,0.025);

  box-shadow:
    inset 0 2px 6px rgba(0,0,0,0.42),
    inset 0 -1px 1px rgba(255,255,255,0.02);

  display: flex;

  align-items: center;
  justify-content: center;
}

.deck-slider-shell.vertical {

  width: 84px;
  height: 240px;
}

.deck-slider-shell.horizontal {

  width: 240px;
  height: 92px;

  flex-direction: column;
}

.deck-slider {

  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;
}

.deck-slider-main {

  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.deck-slider-rail {

  position: relative;

  border-radius: 999px;

  background:
    linear-gradient(
      180deg,
      #101214 0%,
      #1b1e22 100%
    );

  border:
    1px solid rgba(255,255,255,0.025);

  box-shadow:
    inset 0 2px 4px rgba(0,0,0,0.45),
    inset 0 -1px 1px rgba(255,255,255,0.015);

  cursor: pointer;
}

.deck-slider-rail.vertical {

  width: 10px;
  height: 180px;
}

.deck-slider-rail.horizontal {

  width: 180px;
  height: 10px;
}

.deck-slider-center-marker {

  position: absolute;

  background:
    rgba(235,235,235,0.22);

  border-radius: 999px;

  pointer-events: none;
}

.vertical
  .deck-slider-center-marker {

  left: 50%;
  top: 50%;

  width: 22px;
  height: 1px;

  transform:
    translateX(-50%);
}

.horizontal
  .deck-slider-center-marker {

  top: 50%;
  left: 50%;

  width: 1px;
  height: 22px;

  transform:
    translateY(-50%);
}

.deck-slider-thumb {

  position: absolute;

  width: 34px;
  height: 16px;

  border-radius: 1px;

  background-color:
    rgb(120,120,120);

  border:
    1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 2px 4px rgba(0,0,0,0.24);

  pointer-events: none;
}

.vertical
  .deck-slider-thumb {

  left: 50%;

  margin-left: -17px;
  margin-top: -8px;
}

.horizontal
  .deck-slider-thumb {

  top: 50%;

  margin-left: -17px;
  margin-top: -8px;
}

.deck-slider-value {

  margin-top: 18px;

  width: 52px;

  text-align: center;

  font-size: 12px;

  letter-spacing: 0.04em;

  color:
    rgba(235,235,235,0.52);

  font-variant-numeric:
    tabular-nums;
}

.horizontal .deck-slider-value {
  margin-top: 10px;
}

.deck-slider-label {

  color:
    rgba(235,235,235,0.58);

  font-size: 11px;

  letter-spacing: 0.08em;

  text-transform: uppercase;

  letter-spacing: 0.20em;

  user-select: none;
}

.deck-slider-label.horizontal {
  margin-bottom: 12px;
  text-align: center;
}

.deck-slider-label.vertical {

  position: absolute;

  left: -45px;
  top: 50%;

  transform:
    translateY(-50%)
    rotate(-90deg);

  transform-origin: center;

  white-space: nowrap;
}
